profiles {  
    magic {
        process {
        

    }
 
    cluster {

        singularity {
            autoMounts = false
            enabled = true
            cacheDir = "/hpc-home/alikhan/nf-bigtree"
        }

        process {
	    executor = 'slurm'
            clusterOptions = '--partition=qib-medium,nbi-medium,nbi-largemem'
            container = "/hpc-home/alikhan/nf-bigtree/bigtree.sif"
            withName:snippy {
               container = '/nbi/software/production/snippy/4.2.1/x86_64/snippy-4.2.1.img'
            }
            withName:snippycore {
               container = '/nbi/software/production/snippy/4.2.1/x86_64/snippy-4.2.1.img'
            }
            withName:snippyclean {
               container = '/nbi/software/production/snippy/4.2.1/x86_64/snippy-4.2.1.img'
            }
            withName:ariba {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:aribasum {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:aribacard {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:aribacardsum {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:aribaplas {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:aribaplassum {
               container = '/nbi/software/testing/ariba/2.14.1/x86_64/ariba-2.14.1.img'
            }
            withName:roary {
               container = '/nbi/software/testing/roary/3.12.0/x86_64/roary-3.12.0.img'
            }
            withName:quast {
               container = '/nbi/software/testing/quast/4.6.3/x86_64/quast-4.6.3.img'
            }
            withName:shovill {
               container = '/nbi/software/testing/shovill/1.0.9/x86_64/shovill-1.0.9.img'
            }
            withName:mlst {
               container = '/nbi/software/testing/mlst/2.16/x86_64/mlst-2.16.img'
            }
            withName:prokka {
               container = '/nbi/software/testing/prokka/1.13.4/x86_64/prokka.1.13.4.sif'
            }
            withName:sistr {
               container = '/nbi/software/testing/sistr/1.0.2/x86_64/sistr-1.0.2.img'
            }
            withName:fastqc {
               container = "/nbi/software/production/fastqc/0.11.8/x86_64/FastQC-0.11.8.img"
            }
            withName:fastp {
               container = "/nbi/software/testing/fastp/0.20.0/x86_64/fastp-0.20.0.img"
            }
        }

        executor {
            queueSize = 1000
        }

        trace {
            enabled = true
            file = 'trace-bigtree.txt'
        }

        report {
            enabled = true
            file = "trace-bigtree.html"
        }
    }
}
